# Build artifacts
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.vcxproj.user
*.ide

# Rider files
.idea/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
appsettings.Development.json
